.THIS .slds-table_fixed-layout .slds-cell-shrink:first-child{
    text-align: left;
    padding-left: 0.5rem;
}

.THIS .profile .slds-form-element__label{
    display: none;
}

.THIS .wide-button{
    width: 9em;
    margin-right: 5px;
}

.THIS .slds-required {
    display: none;
}

.THIS .slds-icon-utility-success .slds-icon-text-default {
  fill: green;
}

.THIS .slds-radio .slds-form-element__label{
    font-size: 0.9rem;
    font-family: Salesforce Sans;   
}