.cRecipeWrapper .slds-page-header {
    
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    background: white;
    background-clip: padding-box;
    padding: 10px 10px 10px 10px;
    
    
}

.THIS select{
    font-family: Salesforce Sans;
}

.THIS li{
    font-family: Salesforce Sans;
}

.THIS .slds-text-heading_small{
    font-family: Salesforce Sans;
}